## Exam 2

### Problem 1

In [4]:
import re

AGI_Locus = []
AGI_Germ = []
def matches(file, name):
    name = open(file, "r") 
    name.seek(0)
    AGI_name = []
    for line in name.readlines():
        match = re.search( r'AT\dG\d{5}', line)
        if match:
            AGI_name.append(match.group())
        else:
            print("not match")
           
    print (AGI_name)

matches("Germplasm.tsv", "Germ")
matches("LocusGene.tsv", "Locus")

if set(AGI_Locus) == set(AGI_Germ):
    print("\nlist are equal")

not match
['AT1G01040', 'AT1G01060', 'AT1G01140', 'AT1G01220', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420', 'AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290']
not match
['AT1G01040', 'AT1G01060', 'AT1G01140', 'AT1G01220', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420', 'AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290']

list are equal

### Problem 2

In [5]:
%load_ext sql
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [98]:
#%sql drop database Germplasm
%sql create database Germplasm
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('Germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [14]:
%sql use Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [29]:
#%sql DROP TABLE germplasm;
%sql CREATE TABLE germplasm(Locus VARCHAR(9) NOT NULL PRIMARY KEY, germplasm VARCHAR (15) NOT NULL, phenotype VARCHAR (200), pubmed VARCHAR(10) NOT NULL)
%sql DESCRIBE germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('Locus', 'varchar(9)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(15)', 'NO', '', None, ''),
 ('phenotype', 'varchar(200)', 'YES', '', None, ''),
 ('pubmed', 'varchar(10)', 'NO', '', None, '')]

In [31]:
#%sql DROP TABLE LocusGene;
%sql CREATE TABLE LocusGene(Locus VARCHAR(9) NOT NULL, Gene VARCHAR (7) NOT NULL, ProteinLength VARCHAR(3) NOT NULL);
%sql DESCRIBE LocusGene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('Locus', 'varchar(9)', 'NO', '', None, ''),
 ('Gene', 'varchar(7)', 'NO', '', None, ''),
 ('ProteinLength', 'varchar(3)', 'NO', '', None, '')]

In [15]:
%sql show tables

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('LocusGene',), ('germplasm',)]

In [32]:
%sql SET GLOBAL local_infile = 1

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

### Problem 3

In [34]:
import pymysql
import csv       
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Germplasm',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()

with open("/home/osboxes/BioinformaticsCourseGit/Accelerated_Intro_WilkinsonExams/Germplasm.tsv") as tsvfile:
    germ = csv.reader(tsvfile, delimiter='\t')
    sql = "LOAD DATA LOCAL INFILE 'germ' INTO TABLE germplasm FIELDS TERMINATED BY '\t'"
    cursor.execute(sql)
    cursor.commit()


sql = """SELECT * FROM germplasm"""
cursor.execute(sql)
results = cursor.fetchall()
print(results)

InternalError: (1148, 'The used command is not allowed with this MySQL version')

In [70]:
import pymysql
#import csv   

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Germplasm',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)


connection.autocommit = True

cursor = connection.cursor()

tsvfile = open("/home/osboxes/BioinformaticsCourseGit/Accelerated_Intro_WilkinsonExams/Germplasm.tsv", "r")
#germ = csv.reader(tsvfile, delimiter='\t')

i = 0
for row in tsvfile.readlines():
    if i > 0:
        cursor.execute("INSERT INTO germplasm (Locus, germplasm, phenotype, pubmed) VALUES ('?', '?', '?', '?')", row)
        i = i +1
        print(row)
    else: 
        i = i + 1
        continue 
        
sql = """SELECT * FROM germplasm"""
cursor.execute(sql)
results = cursor.fetchall()
print(results)
connection.commit()
connection.close()

TypeError: not all arguments converted during string formatting

Problem 4

In [ ]:
%sql SELECT germplasm.Locus, germplasm.germplasm, germplasm.phenotype, germplasm.pubmed, LocusGene.Gene, LocusGene.ProteinLength FROM germplasm INNER JOIN Locus.Gene ON\
     germplasm.Locus = LocusGene.Locus;

In [ ]:
%sql SELECT germplasm.Locus, germplasm.germplasm, germplasm.phenotype, germplasm.pubmed, LocusGene.Gene, LocusGene.ProteinLength FROM germplasm INNER JOIN Locus.Gene ON\
     germplasm.Locus = LocusGene.Locus\
     AND LocusGene.Gene =  'SKOR' OR 'MAA3';

In [ ]:
import pymysql
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Germplasm',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)
def countchromosome (chromosome):
        sql = "SELECT COUNT(*) AS ""Number Of Matches"" FROM LocusGene INNER JOIN germplasm ON \
        germplasm.Locus = LocusGene.Locus\
        AND LocusGene.Locus = 'ATchromosomeG\d{5}'"


with connection.cursor() as cursor:
        cursor.execute(countchromosome(1))
        cursor.execute(countchromosome(2))
        cursor.execute(countchromosome(3))
        cursor.commit()

In [28]:
import pymysql
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='Germplasm',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)

def averageprotein (chromosome):
    sql = "%sql SELECT AVG(LocusGene.ProteinLength)FROM LocusGene INNER JOIN germplasm ON \
    germplasm.Locus = LocusGene.Locus"

with connection.cursor() as cursor:
        cursor.execute(averageprotein(1))
        cursor.execute(averageprotein(2)) 
        cursor.execute(averageprotein(3))
        cursor.execute(averageprotein(4))
        cursor.commit()

TypeError: object of type 'NoneType' has no len()